@layout('main')

@section('content')
  <form action="/register" method="POST">
    {{ csrfField() }}
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Cadastrar</button>
  </form>
@endsection
